<div>
    <table class="table table-bordered" style="width: 800px; margin-left:5%">
        <thead>
            <tr>
                <th>ID:</th>
                <th>Name:</th>
                <th>Email:</th>
                <th>Contact number:</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let data of storage">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <td><a [routerLink]="['/view', data.id]"
                routerLinkActive="router-link-active"><button class="btn btn-primary">View</button></a>&nbsp;
                    <button class="btn btn-danger" (click)="delete(data)">Delete</button>&nbsp;
                    <button class="btn btn-success" (click)="update(data)">Update</button></td>
            </tr>
        </thead>
    </table>
</div>