.card{
    width: 38em;
    left: 25%;
    background: linear-gradient(to bottom, #66ffcc 0%, #66ccff 100%);
}
.text{
    color: green;
    font-size: 30px;
    font-family: fantasy;
    text-align: center
}
#btn1{
    margin-left: 37%;
    margin-top: 2%;
    margin-bottom: 3%
}
#btn2{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 3%
}