/* You can add global styles to this file, and also import other style files */
html{
    /* background: linear-gradient(to bottom, #00ffff 0%, #99ff99 100%) */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

